%header.p-3.bg-dark.text-white
  .container
    .d-flex.align-items-center.justify-content-between
      %a.d-flex.align-items-center.mb-2.mb-lg-0.text-white.text-decoration-none{href: '#'}
        %span.fs-4 #{data.general_details.title.sub('Total', '').strip} #{data.general_details.annum}

      %nav.navbar.navbar-expand-lg.navbar-dark
        .container-fluid
          %button.navbar-toggler{"type" => "button", "data-bs-toggle" => "collapse", "data-bs-target" => "#navbarNav", "aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
            %span.navbar-toggler-icon

          .collapse.navbar-collapse#navbarNav
            %ul.navbar-nav.ms-auto.mb-2.mb-lg-0
              %li.nav-item
                %a.nav-link.px-2.text-white{href: "#home"}= t('menu.home')
              %li.nav-item
                %a.nav-link.px-2.text-white{href: "#venue"}= t('menu.venue')
              %li.nav-item
                %a.nav-link.px-2.text-white{href: "#schedule"}= t('menu.schedule')
              %li.nav-item
                %a.nav-link.px-2.text-white{href: "#contact"}= t('menu.contact')
              %li.nav-item.dropdown
                %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", href: "#"} Language
                %ul.dropdown-menu
                  %li
                    %a.dropdown-item{href: localized_url_for('en/index.html')} English
                  %li
                    %a.dropdown-item{href: localized_url_for('index.html')} Magyar
